In [ ]:
1 #First python code
print ('Hello CO559 students')

Hello CO559 students

In [ ]:
a, b = 1, 2

a + b

3

In [ ]:
x = 4
x = 'hello'
x

'hello'

In [ ]:
x = 4
x * x

16

In [ ]:
a, b = 1, 2
a, b = b, a
a
b

1

In [ ]:
x = 4
y = x + 1
x = 2
print (x, y)

2 5

In [ ]:
x, y = 2, 6
x, y = y, x + 2
print (x, y)

6 4

In [ ]:
a, b = 2, 3
c, b = a, c + 1
print (a, b, c)

2 3 2

In [ ]:
4.2
4.2 + 2.3

6.5

In [ ]:
7.0 / 2.0

3.5